<!DOCTYPE html>
<html>
<head>
    <title>MyGraph Developer Mode</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/0.15.0/math.min.js"></script>
    <style>
        .grid-canvas {
            background: rgb(228, 176, 72);
        }
    </style>
</head>
<body>
    <input id="canvas-input"/>
    <canvas class="grid-canvas" id="canvas"></canvas>
    <script src="js/devCalc.js"></script>
</body>
</html>